---
import "../styles/global.css";
import Sidebar from "../components/Sidebar.astro";
import Navbar from "../components/Navbar.astro";
import { ClientRouter } from "astro:transitions";

const { title, favicon = "/favicon.png" } = Astro.props;
---

<!-- Layout.astro --><!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "Astro Docs"}</title>
    <link rel="shortcut icon" href={favicon} type="image/x-icon" />
  </head>
  <body class="flex flex-col h-screen bg-gray-900 text-gray-100 font-sans">
    <Navbar />
    <div class="flex flex-1 overflow-hidden">
      <Sidebar />
      <main
        class="flex-1 p-4 md:p-6 overflow-y-auto bg-gray-800 rounded-lg shadow-xl lg:ml-64"
      >
        <slot />
      </main>
    </div>
    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
          document
            .getElementById("sidebar")
            .classList.toggle("-translate-x-full");
        });
      document
        .getElementById("close-sidebar")
        .addEventListener("click", function () {
          document.getElementById("sidebar").classList.add("-translate-x-full");
        });
    </script>
  </body>
</html>
